@import "../../scss/main.scss";
.wrapper {
  position: relative;
  width: 60vw;
  .title {
    @include fontTitle;
    color: $white;
    margin-bottom: 10px;
  }
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    img {
      height: auto;
      width: 100%;
      cursor: pointer;
      z-index: 1;
    }
  }
}
