@import "../../scss/main.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  min-height: 25vw;
  min-width: 30vw;
  background-color: $blackBackground;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: auto;
  @media (max-width: 426px) {
    min-height: 25vw;
    min-width: 40vw;
  }
  .wrapper {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapperTitle {
    position: absolute;
    top: 0;
    height: 10vw+0.5vw;
    min-width: 10vw+0.5vw;

    max-width: 90%;
    background-color: $blackBackground;
    z-index: 100;
    border: 1px solid $white;
    padding: 5px;

    @media (max-width: 426px) {
      height: 15vw+0.5vw;
      min-width: 15vw+0.5vw;
      // max-width: 45vw+0.5vw;
    }
  }

  .wrapperText {
    position: relative;
    padding-top: 4.2vw;
    z-index: 10;

    @media (max-width: 426px) {
      min-width: 80vw;
      min-height: 30vw;
      padding-top: 6.2vw;
    }
    .wrapperText2 {
      position: relative;
      min-height: 22vw;
      min-width: 22vw;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2vw;
      background: linear-gradient(90deg, $cyan 0%, $blue 100%);

      background-size: 900% 100%;
      animation: spin 2s linear infinite;
    }
    .text {
      position: relative;
      padding-top: 7vw;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 22vw;
      min-width: 22vw;
      z-index: 10;
      background-color: $blackBackground;
      border-radius: 5px;
      height: 100%;
      @media (max-width: 426px) {
        min-width: 80vw;
        min-height: 30vw;
        padding-top: 10vw;
      }
    }
  }

  @keyframes spin {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
