//fonts
$primary-font: "Gilroy", "sans-serif";
$secondary-font: "Inter", "sans-serif";

//colors
$blackBackground: #1a1a1a;
$lightGray: #f0f0f0;
$white: #ffffff;
$cyan: rgba(0, 255, 235, 1);
$blue: rgba(0, 22, 255, 1);
